#workspace,
#toolbox,
#preview {
    margin: 10px 0;
    border-width: 2px;
    border-style: solid;
    border-color: lightgrey;
    height: 98vh;
    overflow-y: scroll;
}

#preview {
    margin: 10px 0;
    border-width: 2px;
    border-style: solid;
    border-color: lightgrey;
    height: 38vh;
    overflow: scroll;
    margin-top: 0;
}

.table td,
.table th {
    text-align: center;
}

#workspace {
    background-size: 100%;
    height: 60vh;
    position: relative;
    overflow: scroll;
    background: url(grid-png-43558.png);
    object-fit: fill;
    background-repeat: repeat;
    margin-bottom: 0;
    /* margin-bottom: 0; */
}

#toolbox {
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    align-content: flex-start;
}

.col-md-2,
.col-md-8 {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.control {
    /* border-color: gray; */
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    width: 164px;
    text-align: center;
    cursor: move;
    height: fit-content;
    height: -moz-max-content;
    background-color: white;
    padding: 6px 1px;
    padding-right: 5px;
    /* font-size: 20px; */
}

.control:focus {
    border-width: 3px;
}

#workspace .control {
    position: absolute;
}

.window {
    z-index: 20;
}

.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid black;
    padding: 2px;
}

.custom-menu button {
    display: block;
    width: 100%;
    /* border-bottom: 1px solid red;
    text-align: left; */
}

#toolbox .control {
    margin: 10px 5px;
    box-shadow: '';
    border-color: '';
}

#toolbox div.control:hover {
    /* border-width: 4px; */
    transition-duration: 0.2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #17a2b8 !important;
    color: #17a2b8 !important;
    ;
}

i#join_icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}

#toolbox div.control:hover i {
    /* border-width: 4px; */
    color: #17a2b8 !important;
    ;
}


/* width */

 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 1px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #888;
}

i {
    font-size: 18px;
    font-weight: bolder;
}

button i {
    font-size: 20px;
}


/* .zoom {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
} */

.btn-success {
    font-family: 'Verdana';
    font-size: 13px;
    color: rgba(103, 192, 103, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-success:hover {
    color: #FFF;
    background: rgb(103, 192, 103, 0.75);
    border: 2px solid rgb(103, 192, 103, 0.75);
}

.meta-data label {
    font-size: 12px;
    /* font-weight: bold; */
}


/* loader style */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    position: absolute;
    left: 45%;
    top: 45%;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.anychart-credits-text,
.anychart-credits-logo {
    display: none;
}